{% extends "base.html" %}

{% block head %}
<!-- Plugin CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/monokai-sublime.min.css">
{% endblock head %}




{% block navbar_nav %}
<ul class="navbar-nav flex-column text-left">
	<li class="nav-item">
		<a class="nav-link" href="{{url_for('index')}}"><i class="fas fa-home fa-fw mr-2"></i>Blog Home
			<span class="sr-only">(current)</span></a>
	</li>
	<li class="nav-item active">
		<a class="nav-link" href="{{url_for('bloglist')}}"><i class="fas fa-bookmark fa-fw mr-2"></i>Blog
			Post</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{url_for('about')}}"><i class="fas fa-user fa-fw mr-2"></i>About
			Me</a>
	</li>
</ul>
{% endblock navbar_nav %}
{% block content %}
<div class="main-wrapper">

	<article class="blogpost px-3 py-5 p-md-5">
		<div class="container">
			<header class="blogpost-header">
				<h2 class="title mb-2">{{title}}</h2>
				<div class="meta mb-3"><span class="date">{{created}}</span></div>
			</header>

			<div class="blogpost-body">
				{{body}}
			</div>

			<nav class="blog-nav nav nav-justified my-5">
				<a class="nav-link-prev nav-item nav-link rounded-left" href="{{url_for('index')}}">Previous<i
						class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
				<a class="nav-link-next nav-item nav-link rounded-right" href="{{url_for('bloglist')}}">Next<i
						class="arrow-next fas fa-long-arrow-alt-right"></i></a>
			</nav>

			<div class="blog-comments-section">
				<div id="disqus_thread"></div>
				<script>
					/**
					 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT 
					 *  THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR 
					 *  PLATFORM OR CMS.
					 *  
					 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: 
					 *  https://disqus.com/admin/universalcode/#configuration-variables
					 */
					/*
					var disqus_config = function () {
						// Replace PAGE_URL with your page's canonical URL variable
						this.page.url = PAGE_URL;  
					    
						// Replace PAGE_IDENTIFIER with your page's unique identifier variable
						this.page.identifier = PAGE_IDENTIFIER; 
					};
					*/

					(function () {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
						var d = document, s = d.createElement('script');

						// IMPORTANT: Replace 3wmthemes with your forum shortname!
						s.src = 'https://3wmthemes.disqus.com/embed.js';

						s.setAttribute('data-timestamp', +new Date());
						(d.head || d.body).appendChild(s);
					})();
				</script>
				<noscript>
					Please enable JavaScript to view the
					<a href="https://disqus.com/?ref_noscript" rel="nofollow">
						comments powered by Disqus.
					</a>
				</noscript>
			</div>
			<!--//blog-comments-section-->

		</div>
		<!--//container-->
	</article>


	<footer class="footer text-center py-2 theme-bg-dark">

		<!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can buy the commercial license via our website: themes.3rdwavemedia.com */-->
		<small class="copyright">Designed with <i class="fas fa-heart" style="color: #fb866a;"></i> by <a
				href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>

	</footer>

</div>
<!--//main-wrapper-->


<!-- Page Specific JS -->
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/highlight.min.js"></script>
<!-- Custom JS -->
<script src="{{ url_for('static', filename='assets/js/blog.js')}}"></script>

{% endblock content %}